*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e0e0e0;
}
/** --------------------------------------------------------------------------------
                                    HEADER
    --------------------------------------------------------------------------------*/
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .logo{
        margin: 0% 50%;
        max-width: 150px;
        width: 80px;
        height: auto;
        transition: width 0.3s ease;
        
    }
    
    
    
    /** ---------
        MENÚ
        --------*/
    
    
    .menu{
        display: flex;
        gap: 30px;
        margin-left: auto;
        position: relative;
    }
    
    .menu a{
        text-decoration: none;
        font-family:'Angel Wish', sans-serif;
        transition: font-size 0.3s ease;
        font-size: 40px;
    
    }
    
    .menu img{
        transition: width 0.3s ease;
        width: 40px;
        height: auto;
    }
    
    .menu .dropdown{
        display: none;
        list-style-type: none;
        padding: 0;
        position: absolute;
        background-color: #c0b68b;
        border: 1px solid #d9ce9f;
        z-index: 1000;
        top: 100%;
        left: 50%;
    }
    
    .menu .dropdown li{
        padding: 10px;
        cursor: pointer;
    }
    
    
    .menu a.cita.active + .dropdown {
        display: block;
    }
    
    
    .menu .dropdown-paises{
        display: none; /*Ocultado por defecto*/
        list-style-type: none;
        padding: 0;
        position: absolute;
        background-color: #c0b68b;
        border: 1px solid #d9ce9f;
        z-index: 1000;
        top: 100%;
        right: 0px;
    }
    
    .menu .dropdown-paises li{
        padding: 10px;
        cursor: pointer;
    }
    
    .menu a.pais.active + .dropdown-paises {
        display: block;
    }
    
    /*Este solo esta en el iniciado*/
    .perfil{ 
        border-radius: 100%;
    }
    
/** --------------------------------------------------------------------------------
                                    Efectos
    --------------------------------------------------------------------------------*/
    
    .logo:hover{
        width: 90px;
        height: auto;
    }
    .menu a:hover{
        font-size: 48px;
        text-shadow: 4px 4px 5px rgba(173, 173, 173, 0.5);
        transition: text-shadow 0.3s ease;
    }
    
    .icono_sol {
        width: 50px; 
        height: 50px;
        filter: invert(1);
        transition: filter 0.3s ease; 
    }
    
    .icono_sol:hover {
        filter: invert(1) drop-shadow(4px 4px 5px rgba(217, 206, 159, 0.5));
    }
    
    
    .bandera:hover{
        filter: drop-shadow(4px 4px 4px rgba(217, 206, 159, 0.5));
          
    }
    
    .fuera:hover{
        filter: drop-shadow(4px 4px 4px rgba(77, 65, 14, 0.5));
    }

    .menu img:hover{
        width: 48px;
        height: auto;
    }
    
    .menu .dropdown li:hover {
        background-color: #b9b089;;
    }





/** --------------------------------------------------------------------------------
                            Body
--------------------------------------------------------------------------------*/

body{
    font-family:"roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/marmol_oscuro.jpeg');
    background-size: cover; /* Escala la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
}

.articulo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}


.articulo h1{
    
    font-size: 60px;
    font-family: 'Angel wish', sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
    
}


.articulo a{
    text-decoration: none;
    color: #d6d4d4;
}


/* Estilo para cuando el input está enfocado */
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
    border: 1px solid #E6E6E6;
    background-color: #F6F6F6;
    transition: background-color 0.3s ease;
    
}


/*Estilo para el boton*/
button[type="submit"] {
    padding: 12px;
    border: 1px solid #ABAAAA;
    background-color: #E4E3E3;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    align-self: center;
}

button[type="submit"] a{
    color: black;
    text-decoration: none;
}

/*Estilo para el boton cuando este hover*/
button[type="submit"]:hover {
    padding: 12px;
    border: 1px solid #ABAAAA;
    background-color: #CAC7C7;
    transition: background-color 0.3s ease;
}


/*Estilo para el boton cuando este pulsado*/
button[type="submit"]:focus {
    border: 1px solid #8B8989;
    background-color: #9C9A9A;
    transition: background-color 0.3s ease;
}


/* Estilo para el formulario */
#miFormulario {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espaciado entre filas y columnas */
    margin: 20px;
    
}

/* Los botones y el enlace ocuparán toda la fila */
#miFormulario button[type="submit"] {
    grid-column: 1 / -1; /* Ocupa ambas columnas */
    align-self: center;
    justify-self: center;
    color: black;
}

.articulo p {
    grid-column: 1 / -1; /* El texto "Ya tienes cuenta" ocupa ambas columnas */
    text-align: center;
    color: #d6d4d4;
}

/* Ajustes generales */
label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #d6d4d4;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    background-color: #dddbdb;
    outline: none;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: black
}

/* Efectos al enfocar */
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
    background-color: #cecdcd;
    border-color: #E6E6E6;
    transition: background-color 0.3s ease;
}

/* Efectos al enfocar */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    background-color: #b3b0b0;
    border-color: #ccc;
    transition: background-color 0.3s ease;
}



/** --------------------------------------------------------------------------------
                                    FOOTER
    --------------------------------------------------------------------------------*/

    .footer {
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, rgba(223, 223, 223, 0.47), rgba(125, 125, 125, 0.34));
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }
    
    
    
    /* Estilo para el artículo con los iconos */
    .iconos {
        display: flex;
        justify-content: center; 
        gap: 15px; 
        align-items: center;
    }
    
    .iconos a {
        display: block;
    }
    
    .iconos img {
        width: 40px;
        height: auto; 
        transition: transform 0.3s ease; 
        filter: invert(1);
    }
    
    .iconos img:hover {
        transform: scale(1.2); 
    }
    
    .contacto {
        font-size: 20px;
    }